<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On the Thread of Time</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
</head>
<body>
<footer class="site-footer">
  On the Thread of Time
   <p style="margin-top: var(--space-xs); font-size: 0.8rem;">
    <a href="/pages/credits.html">Credits</a>
</footer>

</body>
</html>