<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On the Thread of Time</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
</head>
<body>
<header class="site-header">
    <div class="site-title">On the Thread of Time</div>
    <nav>
      <ul class="site-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pages/overview.html">Overview</a></li>
        <li><a href="/pages/characters.html" class="active">Hero Profiles</a></li>
        <li><a href="/pages/places.html">Lenara</a></li>
        <li><a href="/pages/organizations.html">Organizations</a></li>
        <li><a href="/pages/religion.html">Triarchy</a></li>
        <li><a href="/pages/npcs.html">Characters</a></li>
        <li><a href="/pages/items.html">Items</a></li>
        <li><a href="/pages/gallery.html" class="active">Gallery</a></li>

      </ul>
    </nav>
  </header>

  </body>
</html>