<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On the Thread of Time</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
</head>
<body>
<header class="site-header">
    <div class="site-title">On the Thread of Time</div>
    <nav>
      <ul class="site-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pages/overview.html">Overview</a></li>
        <li><a href="/pages/characters.html" class="active">Hero Profiles</a></li>
        <li><a href="/pages/places.html">World</a></li>
        <li><a href="/pages/organizations.html">Organizations</a></li>
       <li><a href="/pages/supernatural.html" data-nav="supernatural">Supernatural</a></li>
        <li><a href="/pages/npcs.html">Characters</a></li>
        <li><a href="/pages/items.html">Items</a></li>
        <li><a href="/pages/gallery.html" class="active">Gallery</a></li>

      </ul>
    </nav>

      <form class="site-search" action="/pages/search.html" method="GET">
    <input type="text" name="q" placeholder="Search the thread.." class="site-search-input">
  </form>

  </header>

  </body>
</html>